* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

aside {
  padding: 10px 20px;
  width: 250px;
  border-right: 1px solid #111;
}

button {
  cursor: pointer;
  background: #222;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #222;
  display: block;
}
